.modal{
    display: none;
    top: 0;
    left: 0;
    background-color: #fcf4f1;
}
.visible{
    display: flex;
    max-height: 100vh;
    width: 100%;
    position: fixed;
}
.container_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.cart_content{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    gap: 20px;
}
.contact_data, .order_content{
    display: block;
    width: 50%;
}
.discribe_item{
    overflow: hidden;
    height: 100px;
}
.order_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-around;
    gap: 10px;
    min-width: 300px;
    overflow-y: scroll;
    max-height: 70vh;
}
.order_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 15vh;
}
.category{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.order_count{
    width: 50px;
    height: 30px;
    padding: 5px 10px;
}
.total_price{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}
#cart_form>input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    height: 30px;
}
.contact_data, .order_content{
    display: block;
    width: 100%;
}
input[type="number"]{
    text-align: center; 
}
@media (max-width:676px) {
    .cart_content{
        flex-direction: column;
    }
    .cart_btn{
        margin-bottom: 0;
    }
}
