
.header_list{
    position: fixed;
    top: 45%;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list_name{
    border-radius: 50%;
    border: 2px solid black;
    background-color: lightgreen;
}
.list_name img{
    width: 5vh;
}
.header_container{
    display: block;
}
.list_name{
    margin: 15px;
    padding: 5px;
}
