.page{
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.assortment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.list_shops, .list_products {
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.product-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item{
    border: 1px solid slateblue;
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
}
.item>img{
    width: 80%;
    height: auto;
}
.btn_byu{
    max-width: 100px;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 5px;
}
.btn:hover{
    background-color: #fcf4f1;
    border: 2px solid salmon
}
@media (min-width:676px) {
    .assortment{
        flex-direction: row;
    }
    .list_shops{
        width: 25%;
    }
    .list_products{
        width: 75%;
    }
    .btn{
        max-width: 150px;
    }
}
